.clothes-selection {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;
}

.clothes-selection__row {
  display: flex;
  gap: 20px;
}
.clothes-selection__button {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  border-style: none;

  opacity: 0.6;
}

.clothes-selection__cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
