.header {
  display: flex;
  align-items: center;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  margin: 0;
}

.header__add-clothes-button {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  margin: 0 20px 0 auto;

  border-style: hidden;
}

.header__user-container {
  gap: 20px;
}

.header__username {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  margin: 0;
}

.header__user-avatar {
  height: 40px;
  width: 40px;
}
