.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0000004d;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  height: 400px;
  overflow: hidden;
}

.modal__title {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 16px;

  margin-bottom: 24px;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;

  background-image: url(../../../assets/cross-icon-dark.svg);
  background-size: cover;
  background-color: transparent;
  border-style: none;
  height: 20px;
  width: 20px;
}

.modal__close-button_type_light {
  background-image: url(../../../assets/cross-icon-light.svg);
}

.modal__content {
  position: relative;

  background-color: #fff;
  height: fit-content;
  width: 100%;
  max-width: 496px;
  box-sizing: border-box;
  padding: 28px 28px 36px;
}

.modal__form {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 16px;

  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;

  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 1);
  width: 100%;
  margin-top: 8px;
}

.modal__label {
  display: block;

  margin-bottom: 24px;
}

.modal__label_type_radio {
  margin-bottom: 8px;
}

.modal__legend {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 16px;

  margin: 0 0 12px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;

  border: none;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.modal__radio-input {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 16px;

  margin-right: 8px;
}

.modal__submit-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
  border-style: none;
  border-radius: 4px;
  width: fit-content;
  margin-top: 24px;
  padding: 8px 16px;
}

/* Item Modal Styling */
.modal__content_type_image {
  height: fit-content;
  padding: 0;
}
.modal__image {
  height: 498px;
}
.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 20px 32px 32px;
}
.modal__caption {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  margin: 0;
}

.modal__weather {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  margin: 0;
}
