.weather-card {
  display: flex;
  position: relative;

  border-radius: 12px;
  height: 80px;
  overflow: hidden;
}

.weather-card__temp {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 36px;

  position: absolute;

  top: 20px;
  left: 16px;

  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.weather-card__image {
  object-position: top right;
  object-fit: cover;
  width: 100%;
}
