.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", Courier, monospace;
  font-weight: 700;
  font-size: 20px;

  margin: 0;
}

.sidebar__user-avatar {
  height: 52px;
  width: 52px;
}
